<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>ViewArticlesServlet</servlet-name>
		<servlet-class>org.thestaticvoid.cmsc484blog.ViewArticlesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewArticlesServlet</servlet-name>
		<url-pattern>/servlet/org.thestaticvoid.cmsc484blog.ViewArticlesServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateAccountServlet</servlet-name>
		<servlet-class>org.thestaticvoid.cmsc484blog.CreateAccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateAccountServlet</servlet-name>
		<url-pattern>/servlet/org.thestaticvoid.cmsc484blog.CreateAccountServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.thestaticvoid.cmsc484blog.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/org.thestaticvoid.cmsc484blog.LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>org.thestaticvoid.cmsc484blog.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/servlet/org.thestaticvoid.cmsc484blog.LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostArticleServlet</servlet-name>
		<servlet-class>org.thestaticvoid.cmsc484blog.PostArticleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostArticleServlet</servlet-name>
		<url-pattern>/servlet/org.thestaticvoid.cmsc484blog.PostArticleServlet</url-pattern>
	</servlet-mapping>
</web-app>
