<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>WelcomeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/servlet/WelcomeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>SearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplayItemServlet</servlet-name>
		<servlet-class>DisplayItemServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayItemServlet</servlet-name>
		<url-pattern>/servlet/DisplayItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>AddToCartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/servlet/AddToCartServlet</url-pattern>
	</servlet-mapping>
</web-app>
